In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import g_key

In [2]:
# Import cities file into the cities_pd DataFrame
cities_pd = pd.read_csv("Resources/Cities.csv")
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [3]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.

cities_pd["lat"]=""
cities_pd["lng"]=""
cities_pd["name"]=""
cities_pd["address"]=""
cities_pd["rating"]=""
cities_pd.head()

            City         State lat lng name address rating
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [ ]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`
# Build the endpoint URL
param={"key": g_key}
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
for index, row in cities_pd.iterrows():
    param ["address"] =row["city"] , {row["state"]}, key= {g_key}"
    target_url    
#lat = geo_data["results"][0]["geometry"]["location"]["lat"]
#lng = geo_data["results"][0]["geometry"]["location"]["lng"]

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears