## Deliverable 3. Create a Travel Itinerary Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

#traceback
import traceback

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Sao Filipe,CV,70.39,overcast clouds,14.8961,-24.4956,Tortuga B&B
1,9,Georgetown,MY,80.60,few clouds,5.4112,100.3354,Cititel Penang
2,10,Punta Arenas,CL,71.60,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,13,Rikitea,PF,77.23,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,16,Souillac,MU,80.60,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [36]:
#check counts
vacation_df["Hotel Name"].value_counts()

Oceano                                 2
M.O.S. Log铆stica - Filial Fortaleza    1
Casa Dora, Bubaque                     1
Bonifacio Lodge                        1
Casa do Ian                           1
                                      ..
Maringe Lagoon Lodge                   1
Keleti Beach Resort                    1
Castle Motor Lodge Motel               1
Hospitality Carnarvon                  1
Pousada Porto De Canoas                1
Name: Hotel Name, Length: 222, dtype: int64

In [37]:
#check full data
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Sao Filipe,CV,70.39,overcast clouds,14.8961,-24.4956,Tortuga B&B
1,9,Georgetown,MY,80.60,few clouds,5.4112,100.3354,Cititel Penang
2,10,Punta Arenas,CL,71.60,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,13,Rikitea,PF,77.23,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,16,Souillac,MU,80.60,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...,...,...
240,684,Pecanha,BR,70.25,light rain,-18.5486,-42.5569,PEANHA GRANDE HOTEL
241,685,Bundaberg,AU,82.00,broken clouds,-24.8500,152.3500,Takalvan Motel
242,687,Augusto Correa,BR,82.71,moderate rain,-1.0217,-46.6350,Fazenda Bacuri
243,690,Gondanglegi,ID,74.95,light rain,-7.7479,112.0132,Gg. Munasir Homestay
244,691,Buala,SB,80.44,light rain,-8.1450,159.5921,Maringe Lagoon Lodge

In [38]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 掳F </dd><dt>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [39]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[ vacation_df ["City"] == "Yokadouma" ]
vacation_end = vacation_df.loc[ vacation_df ["City"] == "Yokadouma" ]
vacation_stop1 = vacation_df.loc[ vacation_df ["City"] == "Hobyo" ] 
vacation_stop2 = vacation_df.loc[ vacation_df ["City"] == "Liwale" ] 
vacation_stop3 = vacation_df.loc[vacation_df ["City"] == "Sehithwa" ]

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end =  vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,361,Yokadouma,CM,73.89,overcast clouds,3.5167,15.0500,H么tel De Ville De Yokadouma
1,361,Yokadouma,CM,73.89,overcast clouds,3.5167,15.0500,H么tel De Ville De Yokadouma
2,388,Hobyo,SO,78.10,clear sky,5.3505,48.5268,Halane Hotel and Restaurent
3,469,Liwale,TZ,70.93,overcast clouds,-9.7667,37.9333,Samoma Lodge
4,634,Sehithwa,BW,69.21,moderate rain,-20.4667,22.7167,MONLEK GUEST HOUSE

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 掳F </dd><dt>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>H么tel De Ville De Yokadouma</dd>\n<dt>City</dt><dd>Yokadouma</dd>\n<dt>Country</dt><dd>CM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.89 掳F </dd><dt>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>H么tel De Ville De Yokadouma</dd>\n<dt>City</dt><dd>Yokadouma</dd>\n<dt>Country</dt><dd>CM</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.89 掳F </dd><dt>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Halane Hotel and Restaurent</dd>\n<dt>City</dt><dd>Hobyo</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.1 掳F </dd><dt>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Samoma Lodge</dd>\n<dt>City</dt><dd>Liwale</dd>\n<dt>Country</dt><dd>TZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.93 掳F </dd><dt>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>MONLEK GUEST HOUSE</dd>\n<dt>City</dt><dd>Sehithwa</dd>\n<dt>Country</dt><dd>BW</dd>\n<dt>Current Weather</dt><dd>moderate rain and 69.21 掳F </dd><dt>\n</dl>\n']

In [52]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(marker_layer)
fig.add_layer(city_itinerary)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(marker_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))